# Virtual Environment
venv/
.venv/
env/
ENV/
uploads/

# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE Files
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.temp